langchain
fastapi
langchain_openai
langchain_ollama
pydantic 
datetime 
uuid
dotenv
langchain_core
langchain_community
langchain_chroma
streamlit 
pandas
numpy 
matplotlib
typing
asyncio
transformers
motor
torch
pyttx3
psutil
seaborn
